<p><b>{{ "Pickup point's ID:"|t }}</b> {{ pickup_point_details.pickup_point_id }}</p>

<b>{{ "Pickup point's address"|t }}</b>
<ul>
  {% for item in pickup_point_details.address %}
    <li>{{ item }}</li>
  {% endfor %}
</ul>

<b>{{ "Pickup point's opening hours"|t }} </b>
<ul>
  {% for day in pickup_point_details.opening_hours|keys %}
    <li>
      <b>{{ day }}</b>: {{ pickup_point_details.opening_hours[day]|join(', ') }}
    </li>
  {% endfor %}
</ul>
